.grid{
    display: grid;
}

.hide-on-small{
    @include mobile{
        display: none;
    }
}

.side-padding{
    padding-inline: var(--side-padding);
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.hide-on-small{
    @media screen and (max-width: 640px) {
        display: none;
    }
}

.show-on-small{
    @media screen and (min-width: 640px) {
        display: none;
    }
}

.uppercase{
    text-transform: uppercase;
}