@mixin big{
    @media screen and (min-width: 767px){
        @content;
    }
}

@mixin mobile{
    @media screen and (max-width: 768px){
        @content;
    }
}

@mixin md {
    @media screen and (max-width: 1140px) {
        @content;
    }
}

@mixin small {
    @media screen and (max-width: 540px) {
        @content;
    }
}

@function value($arr, $val){
    @return map-get($map: $arr, $key: $val);
}

@mixin no-border($rad){
    outline: none;
    border: none;
    border-radius: $rad;
}

@mixin width-reset {
    width: initial;
    max-width: initial;
    min-width: initial;
}

@mixin center-stuff($width: initial) {
    max-width: $width;
    width: $width;   
    margin-inline: auto;
}

@mixin colored-shadow($shadow ,$color: $soft-blue) {
    box-shadow: $shadow lighten($color: $color, $amount: 30);
}

@mixin no-top-shadow($y-displacement: .25rem) {
    position: relative;
    &::before{
        /* To remove that annoying top shadow 😪😁. Not really doing anything but illuminating the shadow though 😂 */
        content: '';
        position: absolute;
        top: -$y-displacement;
        outline: none;
        border: none;
        width: 100%;
        margin-top: -1px;
        border-radius: inherit;
        left: 0;
        height: $y-displacement;
        background-color: rgb(255 255 255 / 0.5);
        mix-blend-mode: lighten;
    }   
}

@mixin pseudo-icon($img, $color, $mask: 'true') {
    @if $mask == "true" {
        -webkit-mask: url($img);
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask: url($img);
        mask-repeat: no-repeat;
        background-color: $color;
        mask-size: cover;   
    }
    @else{
        content: url($img);
    }
}

@mixin border-solid($width) {
    border-width: $width;
    border-style: solid;
    border-color: inherit;
}

@mixin step-cards($num, $space){
    @for $i from 1 to $num+1 {
        &:nth-of-type(#{$i}){
            margin-top: calc((#{$i} - 1) * $space);
            margin-bottom: calc(((#{$i} - 1) * $space) * -1);
        }
    }
}